@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.container
{
  padding: 80px;

}
.hero
{
    background: url(../hero.png) no-repeat;
    background-size: cover; 
    background-color: rgb(18, 40, 149); 
    width: 100%;
    padding-left:80px;
}
.herocontent
{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding-top: 100px;
}
.herocontent_top h1{
  color: white;
  font-size: 70px;
  font-weight: bold;
  line-height: 70px;
}
.herocontent_top span{
  text-decoration: underline;
  color: #2ecc71;
}
.herocontent_top p{
  color: white;
  font-size: 20px;
  font-weight: 600;
  max-width:60%;
}
.herodowncontent
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-block: 40px;
}
.button1
{
  text-transform: uppercase;
  background:#2ecc71;
  color: white;
  padding:14px 18px;
  border: 0;
  border-radius:20px;
  font-size: 12px;
  margin-right:30px;
  display: flex;
  transition: ease-in-out .2s;
  cursor: pointer;
 }
.button1:hover{
  background-color: #229653;
}
.button1  i{
    margin:0 10px;
    padding-left: 10px;
    transition: ease-in-out .2s;
}
.button1:hover i{
 transform: translate(5px);
}
.herodowncontent_left{
  margin-right: 30px;
}
.herodowncontent_right p{
  font-size: 15px;
  color: white;
}
.learnmore{
  color: #2ecc71;
  background: transparent;
  border: 0;
  font-size: 15px;
  font-weight: 600;
  transition: ease-in-out .2s;
}
.learnmore:hover i {
  transform: translate(5px);
}
.button2
{
 background: transparent;
color: #2ecc71;
 margin-block: 10px;
  border: 0;
  border-radius:20px;
  font-size: 16px;
  font-weight: 550;
  display: flex;
  transition: ease-in-out .2s;
  cursor: pointer;
 }

.button2  i{
    margin-inline:5px;
    padding-left: 5px;
    transition: ease-in-out .2s;
}
.button2:hover i{
  transform: translate(5px);
 }
 .arrowdown
{
 
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width:600px){
  .hero{
    padding: 40px;
  }

}


/* .............................Ceo Section........................... */
.ceosection
{
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 80px;
  
}
.ceosection p{
  max-width: 80%;
}
.quote
{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 1.1 ;
}
.ceoname{
  font-weight: bold;
}
.ceoname span{
  color: gray;
  font-weight: 500;
}
.caraouselsection{
  background-color: #f5f8fc;
  height: 150vh;
  padding: 80px;
}
@media (max-width:600px){
  .ceosection{
    padding: 40px;
  }
  .quote
{
font-size: 24px;
}


}



/* ....................Show me Section................... */
.showmenowsection
{
  width: 100%;
  background-color: #102b7b;
  padding:80px;
  
}
.showmesection_title
{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content:space-between;

}
.showmesection_title h1
{
  color: #2ecc71;
  font-size: 50px;
  max-width: 60%;
  line-height: 1.1;

}
.button3{
  padding: 8px 12px;
  background-color: white;
  border: 0;
  border-radius: 16px;
  text-transform: uppercase;
  font-size: 11px;
}
.showmesection_title span{
  padding: 0 5px;
}
.showme_subtitle
{
  
}
.showme_subtitle p{
  color: white;
  max-width: 70%;
  font-size: 1.4rem;
  font-weight: 600;
}
.number_coloumn
{
  padding: 80px 0px;
 display: flex;
 flex-wrap: wrap;
  align-items: center;
  color: white;
  text-align: center;
}
.number_coloumn button{
  height: 70px;
  width: 70px;
  background-color: #ff9c00;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.eachcolumn
{
  flex-basis: 20%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.eachcolumn ul
{
  text-align: left;
  padding-right: 10px;
}

.eachcolumn li{
  list-style: none;
  font-weight: bold;
  line-height: 1.4;
}  
.cards
{
  display: flex;
  flex: row wrap;
  justify-content: space-around;
  margin-top: 100px;
}
.cardsection_head
{
  line-height: 1;
}
.cardsection_head p{
  color: #212529;
  font-size: 1.4rem;
  font-weight: 600;
}
.eachcard
{
  background-color: #f5f8fc;
  margin: 10px;
 padding: 50px 40px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
border-radius: 20px;
transition: ease-in-out .2s;
}
.eachcard:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.eachcard h2
{
  color: #102b7b;
  font-size: 1.8rem;
  font-family: 'Josefin Sans', sans-serif;
}
.cardtext
{
color: rgb(44, 44, 44);
font-size: 16px;
font-weight: 600;
}
.button4
{
  margin-top: 40px;
  padding: 8px 12px;
  background-color: #2ecc71;
  border: 0;
  border-radius: 16px;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
}

.container_heading
{
color: #102b7b;
font-size: 2.6rem;
letter-spacing: 1px;
max-width: 60%;
}

.playbook_container{
  background-color: #f5f8fc;
  padding: 80px;
  width: 100%;
}
.playbook p
{
  max-width: 80%;
  font-size: 22px;
  font-weight: 600;
}
.playbook a{
  text-decoration: underline;
  color: gray;
  transition: all .2s;
}
.playbook a:hover{
  text-decoration: none;
  color: #229653;
}
.playbook_main
{
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
flex:row wrap;
margin-top: 50px;
padding-top: 50px;
}
.playbook_main1{
  padding: 5px;
  margin: 5px;
}
.playbook_main2
{
  padding: 5px;
margin: 5px;
}

.playbook_main2 h6{
color: #2ecc71;
font-weight: 400;
font-size: 16px;
text-transform: uppercase;
}
.playbook_main2 h2{
  font-size: 1.8rem;
  
  }
 .button5
{
  color: #2ecc71;
  margin-left: 40px;
  padding: 8px 12px;
  background: transparent;
  border: 0;
  border-radius: 16px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out .2s;
} 
.button5 i
{
  padding-left: 5px;
  transition: ease-in-out .2s;
}
.button5:hover i {
 padding-left: 10px;
}
@media (max-width:800px) {
  .playbook_main
  {  
    flex-direction: column;
  }
  .cards{
    flex-direction: column;
  }
  .playbook_main2 h2{
    font-size: 1.5rem;
    
    }
    .container_heading{
      font-size: 2rem;
      max-width: 90%;
    }

  
}



.trustedby
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
}
.trustedby h4{
  color: gray;
  font-size: 20px;

}

.image_group{
  width: 100%;
  display: flex;
  
}
.image_group1 {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
 
  
}
.image_group2 {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.hiresection
{
  background-color: #e1f7eb;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}
.hiresection h1{
  color:#2ecc71;
  font-size:2.6rem ;
}
.hiresection p{
  font-size: 20px;
  color: #102b7b;
}
.select {
  border: 0;
  font-size: 20px;
  font-weight: bold;
  color: #102b7b;
  background: transparent;
}
.button6
{
  background-color: #2ecc71;
  width: 70px;
  height: 70px;
  border: 0;
  border-radius: 50%;
  transition: ease-in-out .2s;
}
.button6:hover {
  background-color: #229653;

}

