
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
.nav
{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    line-height: 80px;
    background: white;
    color: rgb(56, 55, 53);
    z-index: 10;
}
.logo
{
   display: flex;
   align-items: center;
   padding-left: 50px;
}

.navlist{
    flex-basis: 80%;

}
.navlist ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.navlist ul li{
    font-family: 'Marko One', serif;
    font-size: 16px;
    color:#343a40;
}
.navlist button
{
background:#102b7b ;
color: white;
padding:8px 12px;
border: 0;
border-radius:20px;
font-size: 11px;
text-transform: uppercase;
margin-right:30px;
display: flex;
align-items: center;
transition: ease-in-out .2s;
cursor: pointer;

}
.navbutton:hover
{
    background: #0c205a;
}
.navbutton span{
    margin:0 5px;
    padding-left: 5px;
    transition: ease-in-out .2s;
}
.navbutton:hover span
{
   transform: translate(5px);
}
.navlist li:hover
{
    color: rgb(4, 4, 94);
}
.navlist li:active{
    color: #2ecc71;
}
.toggle_button
{
    position: absolute;
    top:1.5rem;
    right: 0.5rem;
    display: none;
    justify-content: space-between;

}
@media (max-width:900px) {
    .toggle_button{
        display: flex;
        align-items: center;
       
    }
    .navlist
    {
        display: none;
    }
    .nav
    {
        justify-content: space-between;
    }
    .logo img 
    {
        height: 40px;
        width: 240px;
    }
    
}
   