
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
.nav
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    background: white;
    color: rgb(56, 55, 53);
}
.logo
{
    flex-basis: 20%;
}
.navlist{
    flex-basis: 80%;

}
.logo h1{
    
    color:#343a40;
    font-family: 'Marko One', serif;
    text-align: center;
   
}

.navlist ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.navlist ul li{
    font-family: 'Marko One', serif;
    font-size: 16px;
    color:#343a40;
}
.navlist button
{
background:#102b7b ;
 color: white;
padding:8px 12px;
border: 0;
border-radius:20px;
font-size: 11px;

text-transform: uppercase;
margin-right:30px;
}
.navlist button span{
    margin:0 5px;
    padding-left: 5px;
}
.navlist li:hover
{
    color: rgb(4, 4, 94);
}
   